/* header responsive */

@media (max-width: 575.98px) { 
    .container{
        width: 100%;
 }

    .navbar-list {
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 20px;

 }

}

@media (max-width: 767.98px) {
    
    .container{
        width: 100%;
 }

    .navbar-list {
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 20px;
 }
 
}

/* hero responsive */

@media (max-width: 597.98px) { 
    .container{
        max-width: 390px;
 }
    .hero .row, .hero .direction-row{
        display: flex;
        flex-direction:column;
    }

    .hero .card-list{
        padding: 25px 25px 0px 25px;
    }

    .hero .img-phone{
        margin-bottom: -45px;
    }

    .hero .col-4{
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    
    .container{
        max-width: 90%;
 }

    .hero .direction-row{
        display: flex;
        flex-direction:column;
}
    .hero p{
        font-size: 15px;
    }

    .hero .img-phone{
        margin-bottom: -5px;
        padding: 40px 0px 0px 0px;
    }
}


/* planning-section responsive */

@media (max-width: 597.98px) { 
    .container-small{
        max-width: 329px;
 }
    .planning-section .row {
        flex-direction: column;
    }
}