/* header responsive */

@media (max-width: 575.98px) { 
    .container{
        width: 100%;
 }

    .navbar-list {
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 20px;

 }

}

@media (max-width: 767.98px) {
    
    .container{
        width: 100%;
 }

    .navbar-list {
        display: none;
    }

    .hamburger{
        display: flex;
        align-items: center;
        font-size: 20px;
 }
 
}

/* hero responsive */

@media (max-width: 597.98px) { 
    .container{
        max-width: 390px;
 }
    .hero .row, .hero .direction-row{
        display: flex;
        flex-direction:column;
    }

    .hero .card-list{
        padding: 25px 25px 0px 25px;
    }

    .hero .img-phone{
        margin-bottom: -45px;
    }

    .hero .col-4{
        padding: 20px;
    }
}

@media (max-width: 767.98px) {
    
    .container{
        max-width: 90%;
 }

    .hero .direction-row{
        display: flex;
        flex-direction:column;
}
    .hero p{
        font-size: 15px;
    }

    .hero .img-phone{
        margin-bottom: -5px;
        padding: 40px 0px 0px 0px;
    }
}


/* planning-section responsive */

@media (max-width: 597.98px) { 
    .container-small{
        max-width: 329px;
 }
    .planning-section .row {
        flex-direction: column;
    }
}

@media (max-width: 767.98px) { 
    .container-small{
        max-width: 90%;
 }
    .planning-section .row {
        flex-direction: column;
    }

    .planning-caption-title{
        font-size: 40px;
    }
    
    .planning-caption-text{
        font-size: 13px;
    }

    .bg-light{
        max-width: 100%;
    }
}


/* testimonial-section responsive*/

@media (max-width: 597.98px) { 
    .container{
        max-width: 329px;
 }
    
    .testimonials,.testimonials blockquote {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 767.98px) { 
    .container{
        max-width: 700px;
    }
}


/* card-section responsive */

@media (max-width: 597.98px) { 
    .container{
        max-width: 329px;
 }
    
    .card-section .row{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 767.98px) { 
   
}


/* about-us-section responsive */

@media (max-width: 597.98px) { 
    .container-medium{
        max-width: 329px;
 }
    
    .about-us-section .row{
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (min-width: 598px) and (max-width:767.98px) { 
    .container-medium{
        max-width: 700px;
    }

    .about-us-section figure i {
        top: 17px;
        right: 5px;
        font-size: 60px;    
    }

    .about-us-section figcaption .button{
        width: 215px;
    }
}


/* free-section responsive */


@media (max-width: 597.98px) { 
    .container-extra-small{
        max-width: 420px;
 }
    
}
